@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  --color-text-dark: #6b7076;
  --color-text-light: #fbfcfe;
  --color-background-light: #151e27;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
